body {
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: 400;
  font-style: normal;
  background-color: #f2f2f2;
}
h1 {
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: 700;
  font-style: normal;
}
p {
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: 400;
  font-style: normal;
  padding-left: 0px;
  padding-right: 20px;
  margin:none;
}
.centered {
  text-align: center;
  width: 100%;
}

.hidden {
  display: none;
}

table,
tr {
  border-collapse: collapse;
  width: 90%;
}

.standard *{
  border: none;
  padding:0px;
  padding-bottom: 0px;
  margin-top: 2px;
  margin-bottom: 0px;
}

th {
  background-color: #ffcd00;
  padding: 5px;
  text-align: center;
  border-color: #ffcd00;
}
td {
  padding: 10px;
  border-bottom: 3px dotted #000;
}

.tables-table {
  clear: left;
  width: 100%;
}

.tables-table tr {
  vertical-align: top;
  width: 90%;
}

.state-field {
  text-align: center;
}

.name-field {
  text-align: left;
  color: #014a85;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: normal;
}

.name-field:hover {
  cursor: pointer;
  text-decoration: underline;
}

nav ul {
  list-style-type: none;
}

nav li {
  float: left;
}

nav a {
  display: block;
  padding: 8px;
  background-color: #f2f2f2;
  float: left;
}

div.lheader {
  background-color: #f2f2f2;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
}

table {
  width: 100%;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}
.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 550px) {
  .navigation {
    flex-direction: column;
    width: 100%;
  }
  .container2{
    display: flex;
    flex-shrink: 0;
    overflow: auto;

  }
  div.scrollable_table {
    display: flex;
    width: 100%;
    /*1vw = 1% of viewport width*/
    overflow-x: scroll;
  }
  div.test_box{
  width: 100%;
  background-color: #014a85;
  color: white;
  overflow: scroll;
  height:100px;
}
  
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-left: 20px;
  padding-right: 20px;
  margin: 10px;
}

.container2 {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  margin-top: 10px;
}
.button {
  background-color: #ffcd00;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: medium;
  font-style: normal;
  border: none;
}

.button:hover {
  cursor: pointer;
}

.standard_button {
  background-color: #ffcd00;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: large;
  font-style: normal;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  /*add adjustment for the button so it's width isnt 100*/
}
.course_button {
  width: 100%;
  background-color: #ffcd00;
  text-align: left;
  padding-left: 20px;
  border: none;
}
.course_button_text {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: large;
  padding-top: 5px;
  padding-bottom: 5px;

}

.course_button_icon {
  position: absolute;
  right:0px;
  top:0.25em;
  
  /* top: 0.2em;
  right: 0em;
  padding-right: 20px; */

}

div.sticky {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
  border: 5px solid #ffcd00;
}


form {
  float: left;
}


